$header-background: #161b22;
$aside-background: #0d1117;
$background: #0d131c;
$background2: rgba(0, 0, 0, 0);
$green: #4cf47b;
$green-hover: #27ff64;
$green-dark: #389753;
$blue: #33ace0;
$red: #ff3c3c;
$unselected: #7b7b7b;
$font-white: #ffffff;
$font-white2: #b7b7b7;
$border: #4a515a;
$input: #30363d;
$comment: #30363d;
$button-background: #161b22;
$button-background-hover: #12161b;
$radius: 3px;

.chat-page {
  background-color: $background;
}
