$header-background: #161b22;
$aside-background: #0d1117;
$background: #0d131c;
$background2: rgba(0, 0, 0, 0);
$green: #4cf47b;
$green-hover: #27ff64;
$blue: #33ace0;
$red: #ff3c3c;
$unselected: #7b7b7b;
$font-white: #ffffff;
$font-white2: #b7b7b7;
$border: #4a515a;
$input: #30363d;
$comment: #30363d;
$button-background: #161b22;
$button-background-hover: #12161b;
$radius: 3px;

.content-container {
  height: calc(100vh - 120px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  .polls-list-container {
    display: flex;
    justify-content: center;
    width: 100%;
    .polls-ul-container {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 90%;
      .polls-li-container {
        padding: 0.5rem 0 0 0;
        border-bottom: 1px solid $comment;
      }
      .last-poll {
        border: none;
      }
    }
  }
}
.pollOpened {
  height: calc(100vh - 180px);
  overflow: auto;
}

.comment-page-input-container {
  position: fixed;
  bottom: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: $aside-background;
  width: 100%;
  border-top: 1px solid $comment;

  div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    textarea {
      background-color: $input;
      color: $font-white;
      border-radius: $radius;
      border: none;
      box-sizing: border-box;
      padding: 0.3rem;
      // height: 100%;
      width: 70%;
      resize: none;
      &:focus {
        outline: none !important;
      }
    }

    button {
      font-size: 0.9rem;
      background-color: $button-background;
      color: $green;
      border: none;
      border-radius: $radius;
      padding: 0.4rem 0.7rem;
    }
  }
}
