$header-background: #161b22;
$aside-background: #0d1117;
$background: #0d131c;
$background2: rgba(0, 0, 0, 0);
$green: #4cf47b;
$green-hover: #27ff64;
$blue: #33ace0;
$red: #ff3c3c;
$unselected: #7b7b7b;
$font-white: #ffffff;
$font-white2: #b7b7b7;
$border: #4a515a;
$input: #30363d;
$comment: #30363d;
$button-background: #161b22;
$button-background-hover: #12161b;
$radius: 3px;

.popup-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(48, 54, 61, 0.7);
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;

  .popup-close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    text-decoration: none;
    color: $font-white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
  }

  .popup-div {
    width: 90%;
    max-width: 700px;
    height: auto;
    background: $background;
    border-radius: $radius;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .create-poll-container {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;

      h1 {
        color: $font-white;
        font-weight: 350;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          height: 100%;
          width: 100%;

          textarea {
            margin: 1em;
            width: 100%;
            height: 100%;
            background-color: $input;
            color: $font-white;
            border-radius: $radius;
            border: none;
            margin: 0.5rem 0 0 0;
            padding: 0.5rem 0 0 1rem;
            &:focus {
              outline: none !important;
            }
          }
          select {
            align-self: flex-start;
            border: none;
            border-radius: $radius;
            color: $font-white;
            background-color: $button-background;
            width: 50%;
            padding: 0.2rem 0.5rem;
            &:focus {
              outline: none;
            }
          }
        }
        button {
          width: 30%;
          cursor: pointer;
          margin: 0.8rem;
          padding: 0.2rem;
          color: $green;
          background-color: $button-background;
          border: none;

          &:hover {
            background-color: $button-background-hover;
            color: $green-hover;
          }
        }
      }
    }
  }
}
