.header {
  background: #161b22;
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  height: 70px;
  .header-input-div {
    width: 33%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    .header-input {
      height: 50%;
      width: 70%;
      text-align: left;
      background: #30363d;
      border: 1px solid #4a515a;
      border-radius: 3px;
      color: #ffffff;
      outline: none;
      padding: 0 0 0 0.8em;
      &::placeholder {
        color: #b7b7b7;
        padding: 0 0 0 4rem;
      }
      &:focus {
        text-decoration: none;
      }
    }
  }
  .header-title {
    width: 33%;
    color: #ffffff;
    margin: 0;
  }

  .header-navlink-profil {
    text-decoration: none;
    width: 33%;

    .header-div {
      color: #ffffff;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;

      img {
        border-radius: 50% 50% 50% 50%;
        width: 50px;
        height: 50px;
      }

      h3 {
        margin: 0;
        color: #b7b7b7;
        &:hover {
          color: #ffffff;
        }
      }
    }
  }
  .header-navlink-connection {
    text-decoration: none;
    width: 33%;
    margin: 0 0.5em 0 0;

    h3 {
      text-align: right;
      width: 100%;
      margin: 0;
      color: #b7b7b7;
      &:hover {
        color: #ffffff;
      }
    }
  }
}
